#content{width:1200px; margin: 0 auto; }
#content .contentArea .firstTxt{margin-bottom: 200px; text-align: center;}
#content .contentArea .firstTxt p{font-size: 1.5em;color: #333; line-height: 2em;}
#content .contentArea .firstTxt span{font-size: 1.8em; color: #d81408;}